<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="/resources/css/style.css">
	</head>
	
	<body>
		
		<!-- <canvas id="canvas"></canvas> -->
		
		<div id="blocker">

			<div id="instructions">
				<span style="font-size:40px">Click to play</span>
				<br />
				(W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
			</div>

		</div>
		
		<script src='/socket.io/socket.io.js'></script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://threejs.org/build/three.js"></script>
		<script src="https://threejs.org/examples/js/controls/PointerLockControls.js"></script>
        <script src="/resources/js/client.js"></script>
		
	</body>
</html>
